<div class="modal-backdrop" (click)="close.emit()"></div>
<div class="modal">
  <h2>Edit Task</h2>
  <input [(ngModel)]="title" placeholder="Title" />
  <textarea [(ngModel)]="description" placeholder="Description"></textarea>
  <select [(ngModel)]="status">
    <option value="IN_PROGRESS">In Progress</option>
    <option value="COMPLETED">Completed</option>
    <option value="PENDING">Pending</option>
  </select>
  <input [(ngModel)]="categoryId" placeholder="Category ID" type="number" />
  <input [(ngModel)]="categoryName" placeholder="Category Name" />
  <input [(ngModel)]="dueDate" type="date" placeholder="Due Date" />
  <select [(ngModel)]="priority">
    <option value="HIGH">High</option>
    <option value="MEDIUM">Medium</option>
    <option value="LOW">Low</option>
  </select>
  <button (click)="onSave()">Save</button>
  <button (click)="close.emit()" type="button" class="close-btn">Cancel</button>
</div>